.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 9px;
    position: relative;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: 2px;
    border: 1.3px solid #e24324;
}

.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 6px;
}

.header__navbar-user-menu {
    --growth-from: 0.2;
    --growth-to: 1;
    width: 150px;
    background-color: var(--white-color);
    color: #666;
    list-style: none;
    font-weight: 500;
    padding-left: 0;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
    border-radius: 2px;
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.26);
    z-index: 1;
    transform-origin: calc(100% - 50px) top;
    animation: growth linear 0.1s;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    top: -15px;
    width: 100%;
    height: 30px;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 18px 20px;
    top: -29px;
    right: 38px;
}

.header__navbar-user-item {
    font-size: 1.4rem;
    padding: 6px 16px;
    width: 100%;
}

.header__navbar-user-item:hover {
    background-color: #f9f9f9;
}

.header__navbar-user-item-link {
    text-decoration: none;
    color: #666;
}

.header__navbar-user-log-out {
    color: rgb(39, 189, 189);
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}


/* Trong TH thẻ header__qr là thẻ con của thẻ header__navbar-item--has-qr
thì viết như dưới này nghĩa là : 
khi hover vào thẻ header__navbar--has-qr thì những thuộc tính css viết dưới này sẽ apply vào thẻ header__qr */

.header__navbar--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.35rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    width: 2px;
    height: 14px;
    position: absolute;
    border-right: 1.5px solid #f97c6e;
    top: 6px;
    right: -10px;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 2px;
}

.header__navbar-icon {
    font-size: 18px;
    align-self: center;
    margin-right: 3px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* HEADER QR CODE */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .6s;
    z-index: 1;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -13px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-dowload-img {
    height: 15.5px;
}


/* Header Notification */

.header__notify {
    position: absolute;
    background-color: var(--white-color);
    width: 402px;
    top: 120%;
    right: 0;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    /* Chỉ định tâm của việc transform */
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-out 0.2s;
    /* Thuộc tính giúp trình duyệt tối ưu chuyển động animation của những giá trị của thuộc tính được khai báo */
    will-change: opacity, transform;
    display: none;
    z-index: 10;
}

.header__notify::before {
    content: "";
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    border-width: 20px 27px;
    position: absolute;
    top: -29px;
    right: 4.5px;
}

.header__notify::after {
    content: "";
    display: block;
    width: 100px;
    height: 20px;
    right: 0;
    position: absolute;
    top: -14px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        /* scale: độ to nhỏ của thẻ */
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 10px;
    font-weight: 400;
    font-size: 1.4rem;
    /* cho chiều cao của dòng chữ  = chiều cao thằng chứa nó =>> tự căn giữa */
    line-height: 40px;
    cursor: default;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f6f6f6;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #756f6e;
    font-weight: 400;
    margin-top: 4px;
}

.header__notify-all {
    text-align: center;
    cursor: default;
}

.header__notify-all-link {
    text-decoration: none;
    width: 80px;
    line-height: 3.5rem;
    color: var(--text-color);
    padding: 20px;
    font-weight: 400;
}


/*---------------------Authen_MODAL-------------------- */

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    /* overflow: tức là thằng con tràn ra thì làm gì */
    overflow: hidden;
}

.auth-form__container {
    padding: 6px 30px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 10px 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}


/* Lớp Giả Focus : Tập trung ( bấm vào thẻ input ) */

.auth-form__input:focus {
    border-color: #666;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 100px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13.5px 36px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5998;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.auth-form__socials--title {
    margin: 0 22.5px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border: 0.65px solid #EAEAEA;
    margin: 1px 16px;
}

.auth-form__help-fogot {
    color: var(--primary-color);
}


/* Header With Search */

.header-with-search {
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search-label {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: none;
}

.header__search-mobile {
    position: fixed;
    z-index: 8;
    width: 100%;
    left: 0;
    top: 17px;
    height: 46px;
    display: flex;
    transition: transform linear 0.3s;
}

.header__search-checkbox:checked~.header__search-mobile {
    transform: translateY(44.5px);
}

.header__mobile-search-icon {
    font-size: 2.5rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
    -webkit-tap-highlight-color: transparent;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-mobile {
    display: none;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    font-size: 2.35rem;
    color: var(--white-color);
    margin-top: 6px;
}


/* Số Trên Giỏ Hàg */

.header__cart-notice {
    position: absolute;
    padding: 1px 7.6px;
    background-color: var(--white-color);
    color: #ee4d2d;
    font-size: 1.45rem;
    line-height: 1.45rem;
    margin-top: -2px;
    border-radius: 20px;
    border: 1.9px solid #ee4d2d;
    top: -1px;
    right: -5px;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 2px 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    --growth-from: 0.1;
    --growth-to: 1;
    position: absolute;
    top: 116%;
    right: 0px;
    background-color: var(--white-color);
    width: 400px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    transform-origin: calc(100% - 12px) top;
    animation: headerNotifyGrowth linear 0.15s;
    will-change: headerNotifyGrowth;
    cursor: default;
    display: none;
    z-index: 10;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 0px;
    width: 80px;
    height: 20px;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -31px;
    border-width: 20px 23px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 26px 0 16px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 55%;
    display: none;
}

.header__cart-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    /*do flex : 1 ko đảm nhiệm việc tăng kích thước trục cross-axit(chỉ tăng kích thước trục main-axit tức chiều Ngang) nên phải set chiều cao cho thẻ này*/
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 12px;
    border-radius: 2px;
}

.header_search-select {
    border-left: 1px solid rgb(223, 221, 221);
    padding-left: 16px;
    line-height: 2.3rem;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header_search-select:hover .header_search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.1rem;
    color: #6d6b6b;
    position: relative;
    margin: 0 12px 0 8px;
    top: 1px;
}

.header_search-btn {
    background-color: #fb5533;
    border: none;
    outline: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
}

.header_search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header_search-btn-icon {
    color: var(--white-color);
    font-size: 1.8rem;
}

.header_search-option {
    position: absolute;
    right: 0;
    top: 110%;
    width: 130px;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    box-shadow: 0px 1px 2px #e2e2e2;
    transform-origin: top;
    animation: headerNotifyGrowth linear 0.1s;
    will-change: headerNotifyGrowth;
    display: none;
    z-index: 1;
}

.header_search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -12px;
}

.header_search-option-item {
    background-color: var(--white-color);
    padding: 6px 8px;
}

.header_search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header_search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header_search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header_search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header_search-option-item i {
    font-size: 1.1rem;
    color: #fb6445;
    margin-left: 16px;
    display: none;
}

.header_search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus~.header__search-history {
    display: block;
}


/*--------------- Search--History */

.header__search-history {
    position: absolute;
    top: 110%;
    left: 0;
    width: calc(100% - 12px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.26);
    display: none;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px 0px 12px;
    font-weight: 400;
    color: #888;
    font-size: 1.35rem;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin-top: 6px;
    margin-bottom: 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.35rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-history-item:last-child {
    border-radius: 2px;
}


/* Products in Cart */

.header__cart-heading {
    text-align: left;
    margin: 8px 0px 8px 10px;
    font-size: 1.35rem;
    font-weight: 400;
    color: #999;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 44vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: rgba(233, 233, 233, 0.35);
}

.header__cart-img {
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin: 10px;
    cursor: text;
    line-height: 1.3rem;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0px;
    line-height: 2rem;
    overflow: hidden;
    width: 200px;
    text-align: left;
    /* flex: 1; */
    /* padding-right: 20px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    /* display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
}

.header__cart-item-price-wrap {
    color: #757575;
}

.header__cart-item-price {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 2px;
}

.header__cart-item-quantity {
    font-size: 1.1rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header__cart-item-descripsion {
    color: #757575;
    font-size: 1.1rem;
    font-weight: 400;
}

.header__cart-item-remove {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    width: 124px;
    margin: 2px 10px 12px 0;
    float: right;
}

.header__cart-view-cart:hover {
    opacity: 0.9;
}


/* Header sort bav */

.header__sort-bav {
    position: fixed;
    top: var(--header-height);
    width: 100%;
    height: var(--header-sort-bav-height);
    background-color: var(--white-color);
    /* display: flex; */
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
    z-index: 2;
}

.header__sort-item {
    flex: 1;
    list-style: none;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: flex;
    height: 100%;
    line-height: var(--header-sort-bav-height);
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    border-right: 1px solid #e5e5e5;
    right: 0;
    top: 50%;
    height: 60%;
    transform: translateY(-50%);
}

.header__sort-item:last-child .header__sort-link::before {
    display: none;
}

.header__sort-icon {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.header__sort-icon-up {
    position: relative;
    top: 3px;
}

.header__sort-icon-down {
    position: relative;
    bottom: 3px;
}

.header__sort-item--active .header__sort-link {
    color: #fe6433;
    border-bottom: 2px solid #fe6433;
}


/* App Container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.catagory {
    border-radius: 2px;
    background-color: var(--white-color);
    max-height: 690px;
    overflow-y: auto;
}

.catagory__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-left: 4px;
    margin-top: 0;
}

.catagory__heading-icon {
    font-size: 1.4rem;
    position: relative;
    top: -0.2px;
    margin-right: 4px;
}

.catagory-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 12px;
}

.catagory-item {
    border-bottom: 1px solid #e1e1e1;
    margin: 6px 16px;
}

.catagory-item:last-child {
    border-bottom: none;
    padding-bottom: 4px;
}

.catagory-item--active .catagory-item-link {
    color: var(--primary-color);
}

.catagory-item--active .catagory-item-link::before {
    content: "";
    position: absolute;
    border: 3.8px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 8.45px;
    left: -12px;
}

.catagory-item-link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    font-weight: 500;
    padding-bottom: 6px;
    /* Định Nghĩa chuyển động: tức là khi có chuyển động thì chuyển động ntn? giúp chuyển động mượt mà hơn*/
    right: 0;
    transition: right linear 0.1s;
}

.catagory-item-link:hover {
    right: -4px;
    color: var(--primary-color);
}


/* Catagory Mobile Left */

.catagory-mobile-left {
    display: none;
}

.catagory__mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 9;
    overflow: hidden;
    animation: fadeIn linear 0.2s;
    display: none;
}

.header__catagory-checkbox:checked~.catagory__mobile-overlay {
    display: block;
}

.header-with-mobile--catgory-search {
    display: flex;
}

.header__mobilde-catagory {
    display: block;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin-right: 5px;
    display: none;
}

.header__mobilde-catagory-icon {
    position: relative;
    color: var(--white-color);
    font-size: 2.3rem;
    top: 3px;
}


/*--------- Home Sort + Filter */

.home-filter {
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    color: #455;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 20px;
}

.home-filter__page-num-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    height: 36px;
    width: 72px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.04)
}

.home-filter__page-btn {
    background-color: var(--white-color);
    flex: 1;
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    border-right: 1px solid #EEE;
    background-color: #F9F9F9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: var(--text-color);
}


/* Mobile catagory */

.mobile-catagory {
    display: none;
}

.mobile-catagory__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;
}

.mobile-catagory__list::-webkit-scrollbar {
    display: none;
}

.mobile-catagory__item {
    flex-shrink: 0;
    margin-right: 8px;
}

.mobile-catagory__item:nth-of-type(3n + 1) .mobile-catagory__link {
    background-color: #87afd8;
}

.mobile-catagory__item:nth-of-type(3n + 2) .mobile-catagory__link {
    background-color: #76c9bd;
}

.mobile-catagory__item:nth-of-type(3n + 3) .mobile-catagory__link {
    background-color: #88cf81;
}

.mobile-catagory__link {
    --line-hight: 2rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: var(--line-hight);
    height: calc(var(--line-hight) * 2);
    overflow: hidden;
    text-align: center;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 108px;
    border-radius: 4px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
}


/* Products item */

.home-product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 0.9px 1px 0 rgb(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.9px 20px 0 rgb(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    /* cách để ngắt dòng và hiện dấu 3 chấm Trường Hợp ngắt 2 dòng (nhớ set height = 2 dòng(line-height))*/
    /* thêm thuộc tính block để nếu -webkit-box ko hỗ trợ thì nó sẽ hoạt động */
    display: block;
    display: -webkit-box;
    /* thuộc tính dưới này hiểu là mình sẽ ngắt theo chiều nào : vertical là chiều dọc */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
    margin-right: 6px;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: #ee4d2d;
}

.home-product-item__free-ship {
    margin-left: auto;
    margin-right: 10px;
}

.home-product-item__free-ship-icon {
    margin-bottom: -1px;
}

.home-product-item__action {
    margin: 4px 10px 0;
    display: flex;
    /* -webkit-box-align: center;
    align-items: center; */
    justify-content: space-between;
}

.home-product-item__like {
    font-size: 1.2rem;
    color: #555;
}

i.home-product-item__like-icon-fill {
    color: rgb(245, 61, 47);
    display: none;
}

.home-product-item__action--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__action--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    color: rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.home-product-item__rating-star--gold {
    color: #ffce3d;
}

.home-product-item__sold {
    font-size: 1.25rem;
    color: var(--text-color);
    margin-left: 4.5px;
}

.home-product-item__origin {
    display: flex;
    color: rgba(0, 0, 0, .65);
    justify-content: space-between;
    margin: 0 10px;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 3.5px solid var(--primary-color);
    border-left: 3.5px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin-left: 3.5px;
    margin-right: 2px;
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    height: 34px;
    background-color: rgba(255, 212, 36, .9);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-width: 0 18px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 212, 36, .9) transparent rgba(255, 212, 36, .9);
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.15rem;
    position: relative;
    top: 4px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.home-product__pagination {
    margin: 32px 0 30px 0;
}


/*-------- FOOTER */

.footer {
    padding-top: 32px;
    border-top: 4px solid var(--primary-color);
    -webkit-tap-highlight-color: transparent;
}

.footer__heading {
    color: rgba(0, 0, 0, .56);
    text-transform: uppercase;
    font-size: 1.4rem;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, .55);
    display: block;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .76);
    margin: -1px 6px 0 0;
}

.footer__dowload {
    display: flex;
}

.footer__dowload-qr {
    width: 86px;
    height: 86px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.footer__dowload-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.footer__dowload-apps-img {
    height: 20px;
    margin: 8px;
}

.footer___bottom {
    background-color: #f5f5f5;
}

.footer-policy {
    width: 100%;
    text-align: center;
}

.col.l-2.footer-policy__item,
.col.l-4.footer-policy__item {
    padding: 30px 0;
}

.footer-policy__link {
    text-decoration: none;
    color: rgba(0, 0, 0, .55);
    font-size: 1.3rem;
    line-height: 1.3rem;
    /* border-right: 1px solid rgba(0, 0, 0, 0.09); */
    text-align: center;
    width: 100%;
    display: block;
    width: fit-content;
    position: relative;
}

.footer-policy__link::after {
    content: "";
    border-right: 1.5px solid rgba(0, 0, 0, 0.09);
    position: absolute;
    height: 1.4rem;
    top: 0;
    right: -36px;
}

.footer-policy__link--last::after {
    display: none;
}

.footer-policy__link--last {
    width: 70%;
    text-align: center;
}

.footer-registered {
    display: block;
    margin: 12px 0 16px 0;
    height: 45px;
    cursor: pointer;
    text-align: center;
}

.footer-registered__img {
    width: 120px;
    height: 45px;
}

.footer-last__text {
    margin: 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .55);
    line-height: 1.85rem;
    text-align: center;
}

.footer-last__text:last-child {
    margin-bottom: 30px;
}


/* CHAT */

.footer__chat {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 102px;
    height: 52px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.29);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__chat-link {
    text-decoration: none;
    color: var(--primary-color);
}

.footer__chat-icon {
    font-size: 2rem;
    margin-right: 6px;
}

.footer__chat-text {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}